/* global styles*/
$vDkGyBlue: hsl(217, 19%, 35%);
$desatDkBlue:  hsl(214, 17%, 51%);
$gyBlue: hsl(212, 23%, 69%);
$ltGyBlue: hsl(210, 46%, 95%);

html {
  font-size: 81%; /*  1rem = 13px */
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: $ltGyBlue;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: 0;
}
main {
    max-width: 90%;
    margin: 5rem auto 0 auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
}
.img-container {
    overflow: hidden;
}
.banner-photo {
    border-radius: 1rem 1rem 0 0 ;
    width: 100%;
    transition: 0.5s all linear;
}
.banner-photo:hover {
    transform: scale(1.1);
}

.content {
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.title, ul li:first-child {
    color: $desatDkBlue;
    font-weight: 700;
}
.title {
    font-size: 1.25rem;
}

.blurb, ul li:nth-child(2) {
    color: $gyBlue;
    font-weight: 400;
}
.profile-section {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.profile-section > img {
    border-radius: 50%;
    width: 4rem;
    height: auto;
    
}
ul {
    list-style: none;
    padding-left: 1rem;
}
.share-button {
    margin-left: auto;
    margin-right: 0;
    background-color: $ltGyBlue;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-button img {
    width: 15px;
    height: 13px;
}

/* media query for screen size 1440px */
@media (min-width: 1440px) {
    main {
        max-width: 50%;
        margin: 15% auto;
        display: flex;
    }
    .img-container {
        border-radius: 0;
    }
    .banner-photo {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 1rem 0 0 1rem;
    }
}

.share-active {
    display: none;
}