/* global styles*/
$vDkGyBlue: hsl(217, 19%, 35%);
$desatDkBlue:  hsl(214, 17%, 51%);
$gyBlue: hsl(212, 23%, 69%);
$ltGyBlue: hsl(210, 46%, 95%);

html {
  font-size: 81%; /*  1rem = 13px */
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: $ltGyBlue;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: 0;
}
main {
    max-width: 90%;
    margin: 5rem auto 0 auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
}
.img-container {
    overflow: hidden;
}
.banner-photo {
    border-radius: 1rem 1rem 0 0 ;
    width: 100%;
    transition: 0.5s all linear;
}
.banner-photo:hover {
    transform: scale(1.1);
}

.content, .profile-section {
    padding: 1rem 2.5rem 1rem 2.5rem;
}
.title, ul li:first-child {
    color: $desatDkBlue;
    font-weight: 700;
}
.title {
    font-size: 1.25rem;
}

.blurb, ul li:nth-child(2) {
    color: $gyBlue;
    font-weight: 400;
}
.profile-section {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    position: relative;
}
.profile-section > img {
    border-radius: 50%;
    width: 4rem;
    height: auto;
    
}
ul {
    list-style: none;
    padding-left: 1rem;
}
.share-button {
    margin-left: auto;
    margin-right: 0;
    background-color: $ltGyBlue;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.share-button img {
    width: 15px;
    height: 13px;
}
/* hidden social media content shown when button is toggle */
.share-links {
    background-color: $vDkGyBlue;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    transition: all 0.5s ease-in;
    height: 0;
}
.share-links span {
    color: $desatDkBlue;
    letter-spacing: 0.5rem;
    margin-right: 1rem;
}


/* media query for screen size 1440px */
@media (min-width: 1440px) {
    main {
        max-width: 50%;
        margin: 20% auto;
        display: flex;
    }
    .img-container {
        border-radius: 0;
    }
    .banner-photo {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 1rem 0 0 1rem;
    }
    .profile-section .share-links{
        width: max-content;
        padding: 0;
        left: 22rem;
        top: -5rem;
        border-radius: 1rem;
    }
    .profile-section.active .share-links {
        height: auto;
        display: flex;
    }
    .share-links::after {
        position: absolute;
        content:"";
        bottom: -1rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 1.5rem;
        height: 1.5rem;
        background: $vDkGyBlue;
        transform: rotate(45deg);
        z-index: 10;
    }
}

/* styling for mobile toggle */
.profile-section.active .share-links{
    height: 100%;
    padding: 1rem 1rem 1rem 2.5rem;
}